---
import Lightbox from "./Modal/SvelteModal.svelte";
const { alt, src, width, height } = Astro.props;
import { Img } from "astro-imagetools/components";
---

<div class="relative">
  <Img
    alt={alt}
    src={src}
    width={width}
    height={height}
    loading="lazy"
    decoding="async"
    layout="fixed"
    placeholder="blurred"
    format="webp"
  />
  <Lightbox client:visible alt={alt} src={src} />
</div>
